In [2]:
size=5
for i in range(size+1):
    for j in range(i):
        print(i,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

اسم خودتان را در یک متغییر بنویسید و برعکس کنید ( از دو روش استفاده کنید 1- از روش اسلایسینگ 2- از طریق حلقه ها)

In [3]:
name = 'saeed'
name[::-1]

'deeas'

In [5]:
result = ''
for char in name:
    result = char + result
result

'deeas'

برنامه ای بنویسید مقداری مثل 24days2hours بگیرد و مقدار ارقام و رشته ها را در متغییرهای جداگانه ای ذخیره کند.

In [9]:
data = input('enter value: ')
nums = ''
alpabet = ''
for item in data:
    if item.isdigit():
        nums += item
    if item.isalpha():
        alpabet += item
nums, alpabet

('5454231', 'gfdgcgfdgfgh')

برنامه ای بنویسید تا 10 ورودی عدد صحیح از کاربر گرفته و آنها را در هم ضرب کند.

In [11]:
p = 1
for _ in range(10):
    num = float(input('enter a num: '))
    p *= num
p

3628800.0

E انگبرنامه بنویسید که پترنی مانند زیر تولید کند (حرف لیسی)

In [14]:
size = int(input('please enter a size: '))
for i in range(3):
    print('*'*size)
    if i == 2:
        break
    for _ in range(size):
        print('*')

*****
*
*
*
*
*
*****
*
*
*
*
*
*****

از کاربر بخواهید که 10 عدد را وارد کنید و بدون استفاده از توابع min و max مینیمم و ماکزیمم آنها را حساب کنید

In [17]:
max_ = min_ = float(input('enter a num'))
for _ in range(9):
    num = float(input('enter a num'))
    if num > max_:
        max_ = num
    if num < min_:
        min_ = num
                
min_ , max_

(-9.0, 80.0)

برنامه‌ای بنویسید که اعداد ۱ تا ۲۰ را چاپ کند، اما فقط اعداد زوج را نشان دهد. از دستور continue استفاده کنید تا از چاپ اعداد فرد صرف‌نظر شود.

In [18]:
for i in range(1,20):
    if i % 2 == 1:
        continue
    print(i)

2
4
6
8
10
12
14
16
18

برنامه‌ای بنویسید که اعداد بین ۱۰ تا 100 را چاپ کند، اما فقط اعدادی که به 7 ختم نمی‌شوند را چاپ کند.

In [19]:
for i in range(10,100):
    if i % 10 != 7:
        print(i, end = ' * ')

10 * 11 * 12 * 13 * 14 * 15 * 16 * 18 * 19 * 20 * 21 * 22 * 23 * 24 * 25 * 26 * 28 * 29 * 30 * 31 * 32 * 33 * 34 * 35 * 36 * 38 * 39 * 40 * 41 * 42 * 43 * 44 * 45 * 46 * 48 * 49 * 50 * 51 * 52 * 53 * 54 * 55 * 56 * 58 * 59 * 60 * 61 * 62 * 63 * 64 * 65 * 66 * 68 * 69 * 70 * 71 * 72 * 73 * 74 * 75 * 76 * 78 * 79 * 80 * 81 * 82 * 83 * 84 * 85 * 86 * 88 * 89 * 90 * 91 * 92 * 93 * 94 * 95 * 96 * 98 * 99 *

In [20]:
#10
for i in range(1,6):
    print(f'{i}:', end=' ')
    for j in range(1,6):
        if i*j < 20:
            print(i*j, end = ' ')
    print()

1: 1 2 3 4 5
2: 2 4 6 8 10
3: 3 6 9 12 15
4: 4 8 12 16
5: 5 10 15

In [21]:
#11
for i in range(1,31):
    '''
    if i % 3 == 0:
        continue
    print(i)
    '''

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29

In [22]:
nums = input('nums: ')
nums.split()

['5', '6', '12', '90', '120']

In [23]:
'1404/4/26'.split('/')

['1404', '4', '26']

In [24]:
'-'.join(['1404', '4', '26'])

'1404-4-26'

In [26]:
label = 'f1r4.tu.k.txt'
image = 'f1r4.tu.k.jpeg'

In [31]:
label.rsplit('.', maxsplit=1)

['f1r4.tu.k', 'txt']

In [32]:
shoping_list = ['apple','orange','milk']

In [33]:
shoping_list.append('onion')

In [34]:
shoping_list

['apple', 'orange', 'milk', 'onion']

In [46]:
st = """hi 



how are you"""

In [47]:
print(st)

hi
how are you

In [48]:
st

'hi \nhow are you'

In [54]:
t = 'hi\nhow\t\t\t\tare\nyou'

In [55]:
print(t)

hi
how				are
you

In [ ]:
f = []

In [57]:
st = """Diffusion models are a type of generative model that learns to generate data by progressively 
adding noise to the data and then learning to reverse this process. 
This "denoising" process allows the model to generate new data samples that resemble the data it was trained on. 
They are particularly effective at generating high-quality images and are also used in 
other domains like audio and video generation. """
vowel = 'aiuoe'
result = []
for char in st:
    if char in vowel:
        if char not in result:
            result.append(char)
result

['i', 'u', 'o', 'e', 'a']

In [58]:
start = int(input('enter start: '))
stop = int(input('enter stop: '))
result = []
for i in range(start, stop):
    if i % 7 == 0:
        result.append(i)
result

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [61]:
lst_1 = [1,2,3,4]
lst_2 = [9,10,8,'12']
lst_1 + lst_2

[1, 2, 3, 4, 9, 10, 8, '12']

In [62]:
lst_1*3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [66]:
[1,2,3] == [2,1,3]

False

In [67]:
list('hi python')

['h', 'i', ' ', 'p', 'y', 't', 'h', 'o', 'n']

In [68]:
list(range(5,100,10))

[5, 15, 25, 35, 45, 55, 65, 75, 85, 95]

In [69]:
a= [[5,10,20],'python',10.5,20,['hi','hello']]

In [70]:
len(a)

5

In [72]:
a[0][-1]

20

In [73]:
a[1][:3]

'pyt'

In [1]:
a = []
for i in range(50):
    if i % 8 == 0:
        a.append(i)
a

[0, 8, 16, 24, 32, 40, 48]

In [3]:
b = [i for i in range(50) if i % 8 == 0]

In [4]:
b

[0, 8, 16, 24, 32, 40, 48]

In [5]:
len(b)

7

In [6]:
sum(b)

168

In [8]:
max(b), min(b)

(48, 0)

In [9]:
nums = []
for i in range(10):
    #d = float(input('enter num: '))
    nums.append(float(input('enter num: ')))
print(f'max = {max(nums)}')
print(f'min = {min(nums)}')

max = 254.0
min = -9.0

In [10]:
nums

[5.0, 2.0, 10.0, 3.0, 6.0, 4.0, -9.0, 5.0, 21.0, 254.0]

In [13]:
nums = [float(input('enter num: ')) for i in range(10)]
max(nums), min(nums)

(2545.0, -981.0)

In [15]:
all([6>5, 0, 8<9])

False

In [17]:
any([0,0,0,0])

False

In [18]:
nums

[2.0, 3.0, 65.0, -954.0, 2545.0, 215.0, 0.0, -981.0, 25.0, 5.0]

In [19]:
sorted(nums)

[-981.0, -954.0, 0.0, 2.0, 3.0, 5.0, 25.0, 65.0, 215.0, 2545.0]

In [20]:
nums

[2.0, 3.0, 65.0, -954.0, 2545.0, 215.0, 0.0, -981.0, 25.0, 5.0]

In [21]:
sorted(nums, reverse=True)

[2545.0, 215.0, 65.0, 25.0, 5.0, 3.0, 2.0, 0.0, -954.0, -981.0]

In [22]:
sorted(nums)[::-1]

[2545.0, 215.0, 65.0, 25.0, 5.0, 3.0, 2.0, 0.0, -954.0, -981.0]

In [23]:
nums

[2.0, 3.0, 65.0, -954.0, 2545.0, 215.0, 0.0, -981.0, 25.0, 5.0]

In [24]:
nums.clear()

In [25]:
nums

[]

In [28]:
lst = [5,4,8,5,6,5,2,4,7,8,5,5,5,1,5,4,5,4]
lst.count(5)

8

In [29]:
lst.append([10,20,30])
lst

[5, 4, 8, 5, 6, 5, 2, 4, 7, 8, 5, 5, 5, 1, 5, 4, 5, 4, [10, 20, 30]]

In [30]:
lst.extend([10,20,30])
lst

[5,
 4,
 8,
 5,
 6,
 5,
 2,
 4,
 7,
 8,
 5,
 5,
 5,
 1,
 5,
 4,
 5,
 4,
 [10, 20, 30],
 10,
 20,
 30]

In [31]:
lst + [10,20,30]

[5,
 4,
 8,
 5,
 6,
 5,
 2,
 4,
 7,
 8,
 5,
 5,
 5,
 1,
 5,
 4,
 5,
 4,
 [10, 20, 30],
 10,
 20,
 30,
 10,
 20,
 30]

In [33]:
h = [50,60,40]
k = [25,20,30]
h.extend(sorted(k))
h

[50, 60, 40, 20, 25, 30]

In [34]:
fruits = ['apple', 'banana', 'cherry']

fruits.insert(1, "orange")

In [35]:
fruits

['apple', 'orange', 'banana', 'cherry']

In [36]:
fruits.pop()

'cherry'

In [37]:
fruits

['apple', 'orange', 'banana']

In [38]:
fruits.pop(1)

'orange'

In [39]:
fruits

['apple', 'banana']

In [40]:
del fruits[0]

In [41]:
fruits

['banana']

In [42]:
fruits = ['apple', 'banana', 'cherry']

fruits.remove("banana")

In [43]:
fruits

['apple', 'cherry']

In [44]:
fruits.remove(0)

ValueError: list.remove(x): x not in list

In [45]:
fruits = ['apple', 'banana', 'cherry', 'banana', 'banana', 'banana']

fruits.remove("banana")

In [46]:
fruits

['apple', 'cherry', 'banana', 'banana', 'banana']

In [47]:
a = [5,4,8,9]
b = [10,20,30,40]
result = []
for i in range(len(a)):
    result.append(a[i] + b[i])
result

[15, 24, 38, 49]

In [48]:
a = [5,4,8,9]
b = [10,20,30,40, 50 , 70]
if len(a) < len(b):
    for _ in range(len(b) - len(a)):
        a.append(0)
else:
    for _ in range(len(a) - len(b)):
        b.append(0)
result = []
for i in range(len(a)):
    result.append(a[i] + b[i])
result

[15, 24, 38, 49, 50, 70]

In [55]:
a = [5,4,8,9]
b = [10,20,30,40]
for x,y in zip(a,b):
    print(x+y)

15
24
38
49

In [56]:
zip(a,b)

In [57]:
list(zip(a,b))

[(5, 10), (4, 20), (8, 30), (9, 40)]